global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: backend
    metrics_path: /actuator/prometheus
    static_configs:
      - targets: ["back:8080"]

  - job_name: grafana
    static_configs:
      - targets: ["grafana:3000"]

